################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ParkingNet_Server/v16/.suo
/.vs/ParkingNet_Server_Git1/config/applicationhost.config
